html {
  background: #121212;
  font-family: 'Poppins', sans-serif !important;
}

body {
  margin: 0 !important;
}

.MuiContainer-root.main {
  text-align: center;
}

.MuiStack-root.artist {
  display: flex;
  justify-content: center;
}

.MuiButtonBase-root.MuiButton-root.random-btn {
  background-color: #232323 !important;
  color: #fff;
  font-size: 1.6rem;
}

.MuiLinearProgress-root {
  height: 0.5rem !important;
}

.MuiTypography-root.title {
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.MuiTypography-root.logo-name {
  font-weight: 600;
  letter-spacing: 5px;
}

.MuiPaper-root.controls {
  background-color: #121212;
  border-radius: 10px;
}

.MuiPaper-root.MuiAppBar-root {
  background-color: #121212 !important;
  padding: 10px;
}

.logo {
  width: 35px;
}

.controls-btn {
  display: flex;
  justify-content: space-between;
}