html {
  background: #121212;
  font-family: 'Poppins', sans-serif !important;
}

body {
  margin: 0 !important;
}

.MuiContainer-root.main {
  text-align: center;
}

.MuiTypography-root {
  font-family: 'Poppins', sans-serif;
}

.MuiStack-root.artist {
  display: flex;
  justify-content: center;
}

.MuiButtonBase-root.MuiButton-root.random-btn {
  background-color: #232323 !important;
  color: #fff;
  font-size: 1.2rem;
}

.MuiLinearProgress-root {
  height: 0.5rem !important;
}

.MuiTypography-root.title {
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.MuiTypography-root.title2 {
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.MuiTypography-root.artist {
  color: rgba(255, 255, 255, 0.5);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.MuiTypography-root.comma {
  color: rgba(255, 255, 255, 0.5);
  white-space: nowrap;
  overflow: hidden;
}

.MuiTypography-root.logo-name {
  font-weight: 600;
  letter-spacing: 5px;
}

.MuiPaper-root.controls {
  background-color: #121212;
  border-radius: 10px;
}

.MuiPaper-root.MuiAppBar-root {
  background-color: #121212 !important;
  padding: 10px;
}

.MuiGrid-root.download-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 35px;
}

.controls-btn {
  display: flex;
  justify-content: space-around;
}

.cover {
  border-radius: 16px;
}

audio {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
}


audio::-webkit-media-controls-play-button {
  display: none !important;
}

audio::-webkit-media-controls-enclosure {
  background-color: transparent;
}

audio::-webkit-media-controls-timeline {
  display: none !important;
}

audio::-webkit-media-controls-current-time-display {
  display: none !important;
}

audio::-webkit-media-controls-time-remaining-display {
  display: none;
}

audio::-webkit-media-controls-panel {
  display: flex;
  justify-content: end;
}

audio::-webkit-media-controls-mute-button {
  display: none !important;
}

audio::-webkit-media-controls-overflow-button {
  color: #fff !important;
}

audio::-webkit-media-controls-speed-up-button {
  display: none !important;
}